PUBLIC_KEY=REPLACE_ME
SECRET_KEY=REPLACE_ME

###  Via docker --- 
## docker run --rm -it \
##   -p 8000:8000 \
##   --name stellar \
##   stellar/quickstart:soroban-dev@sha256:a057ec6f06c6702c005693f8265ed1261e901b153a754e97cf18b0962257e872 \
##   --standalone \
##  --enable-soroban-rpc
NETWORK_PASSPHRASE="Standalone Network ; February 2017"
RPC_URL="http://localhost:8000/soroban/rpc"

### Via futurenet ---
#NETWORK_PASSPHRASE="Test SDF Future Network ; October 2022"
#RPC_URL="https://rpc-futurenet.stellar.org:443"